.hidden-xs.hidden-sm.pull-left
  = link_to tv_show_path(episode.tv_show) do
    = thumbor_image_tag(episode.poster, height: 300)
.hidden-md.hidden-lg
  = link_to tv_show_path(episode.tv_show) do
    = thumbor_image_tag(episode.poster, class: 'img-responsive')

