%li.list-group-item
  .row
    .col-md-8
      .row
        .col-md-12
          %h2.m-t-none
            = episode.show.title
            %small
              S#{episode.episode.season.to_s.rjust(2,'0')}E#{episode.episode.number.to_s.rjust(2, '0')}
              \-
              = episode.episode.title
