- cache @view.cache_key do
  .row
    .col-md-12
      %h1 TV Show Calendar

  .row
    .col-md-12
      - @view.watching.by_date.each do |date, episodes|
        .row.m-b-lg
          .col-md-12
            %h2.moment_date= date
            = render partial: 'tv_shows_calendar/index/episode', collection: episodes

:coffeescript
  $(".moment_date").each ->
    this.innerHTML = moment(this.innerHTML).calendar(null, {
      sameDay: '[Today]',
      nextDay: '[Tomorrow]',
      nextWeek: '[Next] dddd',
      lastDay: '[Yesterday]',
      lastWeek: '[Last] dddd',
      sameElse: 'YYYY-MM-DD'
    })
