- cache @view.cache_key do
  .row
    .col-md-12
      %h1 TV Show Calendar

  .row
    .col-md-12
      - @view.watching.by_date.each do |date, episodes|
        .row.m-b-lg
          .col-md-12
            %h2
              = react_component('MomentDate', date: date)
            = render partial: 'tv_shows_calendar/index/episode', collection: episodes
