- cache @view.cache_key do
  .row
    .col-md-12
      %h1 TV Show Calendar

  .row
    .col-md-12
      - @view.watching.by_date.each do |date, episodes|
        .row
          .col-md-12
            %h2= date
            = render partial: 'tv_shows_calendar/index/episode', collection: episodes
