.row
  .col-md-12
    = link_to new_movie_download_path do
      %button.btn.btn-success
        New Download
.row.m-t-lg
  .col-md-12
    %ul.list-unstyled
      - @view.each do |movie|
        - if movie.omdb_details.present?
          = render partial: 'movies/index/with_details', locals: {movie: movie}
        - else
          = render partial: 'movies/index/without_details', locals: {movie: movie}
