- cache @view.cache_key do
  .row
    .col-md-12
      %h2 Movie Downloads
  .row.m-t-lg
    .col-md-12
      %ul.list-unstyled
        = render partial: 'movies/index/movie', collection: @view, cache: true
