.row
  .col-md-12
    %h1 Download Movie
    = form_tag(movie_downloads_path, method: :post) do
      .form-group
        %label{for: 'url'}
          URL
        = text_field_tag(:imdb_url, '', placeholder: 'IMDB Movie URL or ID', class: 'form-control', autofocus: true)
      = submit_tag 'Download', class: 'btn btn-success'

