.row
  .col-md-12
    %h1
      TV Episodes
      %small.hidden-xs
        |
        = page_entries_info @view

.row
  .col-md-12
    - @view.grouped_by_published_date.each do |date, group|
      .row
        .col-md-12
          %h3.moment_date=date
          %ul.list-unstyled
            = render partial: 'episodes/index/episode', collection: group, cache: true
    .text-center
      = paginate @view

:coffeescript
  $(".moment_date").each ->
    this.innerHTML = moment(this.innerHTML).calendar(null, {
      sameDay: '[Today]',
      nextDay: '[Tomorrow]',
      nextWeek: 'dddd',
      lastDay: '[Yesterday]',
      lastWeek: '[Last] dddd',
      sameElse: 'YYYY-MM-DD'
    })
