.row
  .col-md-12
    %h1 TV Episodes

.row
  .col-md-12
    - @view.grouped_by_published_date.each do |date, group|
      .row
        .col-md-12
          %h2= human_date(date)
          %ul.list-unstyled
            = render partial: 'episodes/index/episode', collection: group
    .text-center
      = paginate @view
