.row
  .col-md-12
    %h1 TV Episodes
.row
  .col-md-12
    %ul.list-unstyled
      - @view.each do |episode|
        %li
          - if episode.tmdb_details.present?
            = render partial: 'episodes/index/with_details', locals: {episode: episode}
          - else
            = render partial: 'episodes/index/without_details', locals: {episode: episode}
