.row
  .col-md-12
    %h1
      TV Episodes
      %small.hidden-xs
        |
        = page_entries_info @view

.row
  .col-md-12
    - @view.grouped_by_published_date.each do |date, group|
      .row
        .col-md-12
          %h3
            = react_component('MomentDate', props: {date: date})
          %ul.list-unstyled
            = render partial: 'episodes/index/episode', collection: group, cache: true
    .text-center
      = paginate @view
