- cache @view.cache_key do
  .row
    .col-md-12
      %h1
        Movie Waitlist
        %small.hidden-xs
          |
          = page_entries_info @view

  .row.m-t-lg
    .col-md-12
      %ul.list-unstyled
        = render partial: 'movies/index/movie', collection: @view, cache: true
.text-center
  = paginate @view

