.row
  .col-md-12
    %h2 Movie Waitlist
.row.m-t-lg
  .col-md-12
    %ul.list-unstyled
      - @view.each do |movie|
        %div{id: "movie-#{movie.id}"}
          - if movie.omdb_details.present?
            = render partial: 'movies/index/with_details', locals: {movie: movie}
          - else
            = render partial: 'movies/index/without_details', locals: {movie: movie}
